* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(219, 14%, 24%);
  color: hsl(0, 100%, 100%);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: hsla(0, 2%, 2%, 0.2);
  border-bottom: 1px solid hsla(0, 100%, 100%, 0.4);
  padding: 0.2rem 0.5rem;
  height: 60px;
}

nav img {
  width: 3rem;
}

nav h1 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

nav h1 span {
  color: hsl(240, 100%, 69%);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0 0.5rem;
}

.input-container {
  position: relative;
  height: 70px;
  width: 100%;
  margin: 1rem 0;
}

.input-label {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: hsl(0, 100%, 100%);
  pointer-events: none;
}

.label-span {
  transition: all 0.5s ease;
  position: absolute;
  top: 30%;
  left: 5%;
}

.input-container input {
  background-color: hsla(0, 2%, 2%, 0.2);
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  border: 1px solid hsla(0, 100%, 100%, 0.4);
  color: hsl(0, 100%, 100%);
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.input-container input:focus {
  border: 2px solid hsl(240, 100%, 69%);
}

.input-container input:focus + .input-label .label-span {
  transform: translateY(-100%);
  font-size: 12px;
  left: 7%;
  color: hsl(240, 100%, 69%);
}

.input-container input:valid + .input-label .label-span {
  transform: translateY(-100%);
  font-size: 12px;
  left: 7%;
}

#generate {
  border: 1px solid transparent;
  outline: 0;
  color: hsl(0, 100%, 100%);
  background-color: hsl(240, 100%, 69%);
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}

#generate:hover {
  border: 1px solid hsla(0, 100%, 100%, 0.4);
  background: transparent;
}

.output {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  background-color: hsla(0, 2%, 2%, 0.6);
  border-radius: 1rem;
  padding: 1rem;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(-100vh);
}

.title {
  font-size: clamp(1rem, 1.3vw, 1.5rem);
}

#entryHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#entryHolderHeader {
  background: hsla(0, 2%, 2%, 0.2);
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 1rem 0;
}

#temp {
  font-size: 2.5rem;
}

#content ul {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

#content ul li {
  background: hsla(0, 2%, 2%, 0.2);
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  color: hsl(240, 100%, 69%);
}

#content ul li p {
  margin: 0;
  color: hsl(0, 100%, 100%);
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(240, 12%, 48%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(240, 12%, 36%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(240, 8%, 65%);
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 450px;
  }

  #content ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  nav {
    padding: 0.1rem;
  }

  nav h1 {
    font-size: 1rem;
  }

  nav img {
    width: 2rem;
  }

  .form-container {
    width: 370px;
  }

  .output {
    width: 100%;
  }

  #content ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 350px) {
  .form-container {
    width: 280px;
  }

  #entryHolderHeader {
    margin: 1rem 0;
  }

  #entryHolderHeader,
  #content ul li {
    width: 100%;
  }
}

/* Backgorund Effects */
@keyframes starsEffect {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(100vh);
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: starsEffect 50s linear infinite;
  box-shadow: 779px 1331px hsl(0, 100%, 100%), 324px 42px hsl(0, 100%, 100%),
    303px 586px hsl(0, 100%, 100%), 1312px 276px hsl(0, 100%, 100%),
    451px 625px hsl(0, 100%, 100%), 521px 1931px hsl(0, 100%, 100%),
    1087px 1871px hsl(0, 100%, 100%), 36px 1546px hsl(0, 100%, 100%),
    132px 934px hsl(0, 100%, 100%), 1698px 901px hsl(0, 100%, 100%),
    1418px 664px hsl(0, 100%, 100%), 1448px 1157px hsl(0, 100%, 100%),
    1084px 232px hsl(0, 100%, 100%), 347px 1776px hsl(0, 100%, 100%),
    1722px 243px hsl(0, 100%, 100%), 1629px 835px hsl(0, 100%, 100%),
    479px 969px hsl(0, 100%, 100%), 1231px 960px hsl(0, 100%, 100%),
    586px 384px hsl(0, 100%, 100%), 164px 527px hsl(0, 100%, 100%),
    8px 646px hsl(0, 100%, 100%), 1150px 1126px hsl(0, 100%, 100%),
    665px 1357px hsl(0, 100%, 100%), 1556px 1982px hsl(0, 100%, 100%),
    1260px 1961px hsl(0, 100%, 100%), 1675px 1741px hsl(0, 100%, 100%),
    1843px 1514px hsl(0, 100%, 100%), 718px 1628px hsl(0, 100%, 100%),
    242px 1343px hsl(0, 100%, 100%), 1497px 1880px hsl(0, 100%, 100%),
    1364px 230px hsl(0, 100%, 100%), 1739px 1302px hsl(0, 100%, 100%),
    636px 959px hsl(0, 100%, 100%), 304px 686px hsl(0, 100%, 100%),
    614px 751px hsl(0, 100%, 100%), 1935px 816px hsl(0, 100%, 100%),
    1428px 60px hsl(0, 100%, 100%), 355px 335px hsl(0, 100%, 100%),
    1594px 158px hsl(0, 100%, 100%), 90px 60px hsl(0, 100%, 100%),
    1553px 162px hsl(0, 100%, 100%), 1239px 1825px hsl(0, 100%, 100%),
    1945px 587px hsl(0, 100%, 100%), 749px 1785px hsl(0, 100%, 100%),
    1987px 1172px hsl(0, 100%, 100%), 1301px 1237px hsl(0, 100%, 100%),
    1039px 342px hsl(0, 100%, 100%), 1585px 1481px hsl(0, 100%, 100%),
    995px 1048px hsl(0, 100%, 100%), 524px 932px hsl(0, 100%, 100%),
    214px 413px hsl(0, 100%, 100%), 1701px 1300px hsl(0, 100%, 100%),
    1037px 1613px hsl(0, 100%, 100%), 1871px 996px hsl(0, 100%, 100%),
    1360px 1635px hsl(0, 100%, 100%), 1110px 1313px hsl(0, 100%, 100%),
    412px 1783px hsl(0, 100%, 100%), 1949px 177px hsl(0, 100%, 100%),
    903px 1854px hsl(0, 100%, 100%), 700px 1936px hsl(0, 100%, 100%),
    378px 125px hsl(0, 100%, 100%), 308px 834px hsl(0, 100%, 100%),
    1118px 962px hsl(0, 100%, 100%), 1350px 1929px hsl(0, 100%, 100%),
    781px 1811px hsl(0, 100%, 100%), 561px 137px hsl(0, 100%, 100%),
    757px 1148px hsl(0, 100%, 100%), 1670px 1979px hsl(0, 100%, 100%),
    343px 739px hsl(0, 100%, 100%), 945px 795px hsl(0, 100%, 100%),
    576px 1903px hsl(0, 100%, 100%), 1078px 1436px hsl(0, 100%, 100%),
    1583px 450px hsl(0, 100%, 100%), 1366px 474px hsl(0, 100%, 100%),
    297px 1873px hsl(0, 100%, 100%), 192px 162px hsl(0, 100%, 100%),
    1624px 1633px hsl(0, 100%, 100%), 59px 453px hsl(0, 100%, 100%),
    82px 1872px hsl(0, 100%, 100%), 1933px 498px hsl(0, 100%, 100%),
    1966px 1974px hsl(0, 100%, 100%), 1975px 1688px hsl(0, 100%, 100%),
    779px 314px hsl(0, 100%, 100%), 1858px 1543px hsl(0, 100%, 100%),
    73px 1507px hsl(0, 100%, 100%), 1693px 975px hsl(0, 100%, 100%),
    1683px 108px hsl(0, 100%, 100%), 1768px 1654px hsl(0, 100%, 100%),
    654px 14px hsl(0, 100%, 100%), 494px 171px hsl(0, 100%, 100%),
    1689px 1895px hsl(0, 100%, 100%), 1660px 263px hsl(0, 100%, 100%),
    1031px 903px hsl(0, 100%, 100%), 1203px 1393px hsl(0, 100%, 100%),
    1333px 1421px hsl(0, 100%, 100%), 1113px 41px hsl(0, 100%, 100%),
    1206px 1645px hsl(0, 100%, 100%), 1325px 1635px hsl(0, 100%, 100%),
    142px 388px hsl(0, 100%, 100%), 572px 215px hsl(0, 100%, 100%),
    1535px 296px hsl(0, 100%, 100%), 1419px 407px hsl(0, 100%, 100%),
    1379px 1003px hsl(0, 100%, 100%), 329px 469px hsl(0, 100%, 100%),
    1791px 1652px hsl(0, 100%, 100%), 935px 1802px hsl(0, 100%, 100%),
    1330px 1820px hsl(0, 100%, 100%), 421px 1933px hsl(0, 100%, 100%),
    828px 365px hsl(0, 100%, 100%), 275px 316px hsl(0, 100%, 100%),
    707px 960px hsl(0, 100%, 100%), 1605px 1554px hsl(0, 100%, 100%),
    625px 58px hsl(0, 100%, 100%), 717px 1697px hsl(0, 100%, 100%),
    1669px 246px hsl(0, 100%, 100%), 1925px 322px hsl(0, 100%, 100%),
    1154px 1803px hsl(0, 100%, 100%), 1929px 295px hsl(0, 100%, 100%),
    1248px 240px hsl(0, 100%, 100%), 1045px 1755px hsl(0, 100%, 100%),
    166px 942px hsl(0, 100%, 100%), 1888px 1773px hsl(0, 100%, 100%),
    678px 1963px hsl(0, 100%, 100%), 1370px 569px hsl(0, 100%, 100%),
    1974px 1400px hsl(0, 100%, 100%), 1786px 460px hsl(0, 100%, 100%),
    51px 307px hsl(0, 100%, 100%), 784px 1400px hsl(0, 100%, 100%),
    730px 1258px hsl(0, 100%, 100%), 1712px 393px hsl(0, 100%, 100%),
    416px 170px hsl(0, 100%, 100%), 1797px 1932px hsl(0, 100%, 100%),
    572px 219px hsl(0, 100%, 100%), 1557px 1856px hsl(0, 100%, 100%),
    218px 8px hsl(0, 100%, 100%), 348px 1334px hsl(0, 100%, 100%),
    469px 413px hsl(0, 100%, 100%), 385px 1738px hsl(0, 100%, 100%),
    1357px 1818px hsl(0, 100%, 100%), 240px 942px hsl(0, 100%, 100%),
    248px 1847px hsl(0, 100%, 100%), 1535px 806px hsl(0, 100%, 100%),
    236px 1514px hsl(0, 100%, 100%), 1429px 1556px hsl(0, 100%, 100%),
    73px 1633px hsl(0, 100%, 100%), 1398px 1121px hsl(0, 100%, 100%),
    671px 1301px hsl(0, 100%, 100%), 1404px 1663px hsl(0, 100%, 100%),
    740px 1018px hsl(0, 100%, 100%), 1600px 377px hsl(0, 100%, 100%),
    785px 514px hsl(0, 100%, 100%), 112px 1084px hsl(0, 100%, 100%),
    1915px 1887px hsl(0, 100%, 100%), 1463px 1848px hsl(0, 100%, 100%),
    687px 1115px hsl(0, 100%, 100%), 1268px 1768px hsl(0, 100%, 100%),
    1729px 1425px hsl(0, 100%, 100%), 1284px 1022px hsl(0, 100%, 100%),
    801px 974px hsl(0, 100%, 100%), 1975px 1317px hsl(0, 100%, 100%),
    1354px 834px hsl(0, 100%, 100%), 1446px 1484px hsl(0, 100%, 100%),
    1283px 1786px hsl(0, 100%, 100%), 11px 523px hsl(0, 100%, 100%),
    1842px 236px hsl(0, 100%, 100%), 1355px 654px hsl(0, 100%, 100%),
    429px 7px hsl(0, 100%, 100%), 1033px 1128px hsl(0, 100%, 100%),
    157px 297px hsl(0, 100%, 100%), 545px 635px hsl(0, 100%, 100%),
    52px 1080px hsl(0, 100%, 100%), 827px 1520px hsl(0, 100%, 100%),
    1121px 490px hsl(0, 100%, 100%), 9px 309px hsl(0, 100%, 100%),
    1744px 1586px hsl(0, 100%, 100%), 1014px 417px hsl(0, 100%, 100%),
    1534px 524px hsl(0, 100%, 100%), 958px 552px hsl(0, 100%, 100%),
    1403px 1496px hsl(0, 100%, 100%), 387px 703px hsl(0, 100%, 100%),
    1522px 548px hsl(0, 100%, 100%), 1355px 282px hsl(0, 100%, 100%),
    1532px 601px hsl(0, 100%, 100%), 1838px 790px hsl(0, 100%, 100%),
    290px 259px hsl(0, 100%, 100%), 295px 598px hsl(0, 100%, 100%),
    1601px 539px hsl(0, 100%, 100%), 1561px 1272px hsl(0, 100%, 100%),
    34px 1922px hsl(0, 100%, 100%), 1024px 543px hsl(0, 100%, 100%),
    467px 369px hsl(0, 100%, 100%), 722px 333px hsl(0, 100%, 100%),
    1976px 1255px hsl(0, 100%, 100%), 766px 983px hsl(0, 100%, 100%),
    1582px 1285px hsl(0, 100%, 100%), 12px 512px hsl(0, 100%, 100%),
    617px 1410px hsl(0, 100%, 100%), 682px 577px hsl(0, 100%, 100%),
    1334px 1438px hsl(0, 100%, 100%), 439px 327px hsl(0, 100%, 100%),
    1617px 1661px hsl(0, 100%, 100%), 673px 129px hsl(0, 100%, 100%),
    794px 941px hsl(0, 100%, 100%), 1386px 1902px hsl(0, 100%, 100%),
    37px 1353px hsl(0, 100%, 100%), 1467px 1353px hsl(0, 100%, 100%),
    416px 18px hsl(0, 100%, 100%), 187px 344px hsl(0, 100%, 100%),
    200px 1898px hsl(0, 100%, 100%), 1491px 1619px hsl(0, 100%, 100%),
    811px 347px hsl(0, 100%, 100%), 924px 1827px hsl(0, 100%, 100%),
    945px 217px hsl(0, 100%, 100%), 1735px 1228px hsl(0, 100%, 100%),
    379px 1890px hsl(0, 100%, 100%), 79px 761px hsl(0, 100%, 100%),
    825px 1837px hsl(0, 100%, 100%), 1980px 1558px hsl(0, 100%, 100%),
    1308px 1573px hsl(0, 100%, 100%), 1488px 1726px hsl(0, 100%, 100%),
    382px 1208px hsl(0, 100%, 100%), 522px 595px hsl(0, 100%, 100%),
    1277px 1898px hsl(0, 100%, 100%), 354px 552px hsl(0, 100%, 100%),
    161px 1784px hsl(0, 100%, 100%), 614px 251px hsl(0, 100%, 100%),
    526px 1576px hsl(0, 100%, 100%), 17px 212px hsl(0, 100%, 100%),
    179px 996px hsl(0, 100%, 100%), 467px 1208px hsl(0, 100%, 100%),
    1944px 1838px hsl(0, 100%, 100%), 1140px 1093px hsl(0, 100%, 100%),
    858px 1007px hsl(0, 100%, 100%), 200px 1064px hsl(0, 100%, 100%),
    423px 1964px hsl(0, 100%, 100%), 1945px 439px hsl(0, 100%, 100%),
    1377px 689px hsl(0, 100%, 100%), 1120px 1437px hsl(0, 100%, 100%),
    1876px 668px hsl(0, 100%, 100%), 907px 1324px hsl(0, 100%, 100%),
    343px 1976px hsl(0, 100%, 100%), 1816px 1501px hsl(0, 100%, 100%),
    1849px 177px hsl(0, 100%, 100%), 647px 91px hsl(0, 100%, 100%),
    1984px 1012px hsl(0, 100%, 100%), 1336px 1300px hsl(0, 100%, 100%),
    128px 648px hsl(0, 100%, 100%), 305px 1060px hsl(0, 100%, 100%),
    1324px 826px hsl(0, 100%, 100%), 1263px 1314px hsl(0, 100%, 100%),
    1801px 629px hsl(0, 100%, 100%), 1614px 1555px hsl(0, 100%, 100%),
    1634px 90px hsl(0, 100%, 100%), 1603px 452px hsl(0, 100%, 100%),
    891px 1984px hsl(0, 100%, 100%), 1556px 1906px hsl(0, 100%, 100%),
    121px 68px hsl(0, 100%, 100%), 1676px 1714px hsl(0, 100%, 100%),
    516px 936px hsl(0, 100%, 100%), 1947px 1492px hsl(0, 100%, 100%),
    1455px 1519px hsl(0, 100%, 100%), 45px 602px hsl(0, 100%, 100%),
    205px 1039px hsl(0, 100%, 100%), 793px 172px hsl(0, 100%, 100%),
    1562px 1739px hsl(0, 100%, 100%), 1056px 110px hsl(0, 100%, 100%),
    1512px 379px hsl(0, 100%, 100%), 1795px 1621px hsl(0, 100%, 100%),
    1848px 607px hsl(0, 100%, 100%), 262px 1719px hsl(0, 100%, 100%),
    477px 991px hsl(0, 100%, 100%), 483px 883px hsl(0, 100%, 100%),
    1239px 1197px hsl(0, 100%, 100%), 1496px 647px hsl(0, 100%, 100%),
    1649px 25px hsl(0, 100%, 100%), 1491px 1946px hsl(0, 100%, 100%),
    119px 996px hsl(0, 100%, 100%), 179px 1472px hsl(0, 100%, 100%),
    1341px 808px hsl(0, 100%, 100%), 1565px 1700px hsl(0, 100%, 100%),
    407px 1544px hsl(0, 100%, 100%), 1754px 357px hsl(0, 100%, 100%),
    1288px 981px hsl(0, 100%, 100%), 902px 1997px hsl(0, 100%, 100%),
    1755px 1668px hsl(0, 100%, 100%), 186px 877px hsl(0, 100%, 100%),
    1202px 1882px hsl(0, 100%, 100%), 461px 1213px hsl(0, 100%, 100%),
    1400px 748px hsl(0, 100%, 100%), 1969px 1899px hsl(0, 100%, 100%),
    809px 522px hsl(0, 100%, 100%), 514px 1219px hsl(0, 100%, 100%),
    374px 275px hsl(0, 100%, 100%), 938px 1973px hsl(0, 100%, 100%),
    357px 552px hsl(0, 100%, 100%), 144px 1722px hsl(0, 100%, 100%),
    1572px 912px hsl(0, 100%, 100%), 402px 1858px hsl(0, 100%, 100%),
    1544px 1195px hsl(0, 100%, 100%), 667px 1257px hsl(0, 100%, 100%),
    727px 1496px hsl(0, 100%, 100%), 993px 232px hsl(0, 100%, 100%),
    1772px 313px hsl(0, 100%, 100%), 1040px 1590px hsl(0, 100%, 100%),
    1204px 1973px hsl(0, 100%, 100%), 1268px 79px hsl(0, 100%, 100%),
    1555px 1048px hsl(0, 100%, 100%), 986px 1707px hsl(0, 100%, 100%),
    978px 1710px hsl(0, 100%, 100%), 713px 360px hsl(0, 100%, 100%),
    407px 863px hsl(0, 100%, 100%), 461px 736px hsl(0, 100%, 100%),
    284px 1608px hsl(0, 100%, 100%), 103px 430px hsl(0, 100%, 100%),
    1283px 1319px hsl(0, 100%, 100%), 977px 1186px hsl(0, 100%, 100%),
    1966px 1516px hsl(0, 100%, 100%), 1287px 1129px hsl(0, 100%, 100%),
    70px 1098px hsl(0, 100%, 100%), 1189px 889px hsl(0, 100%, 100%),
    1126px 1734px hsl(0, 100%, 100%), 309px 1292px hsl(0, 100%, 100%),
    879px 764px hsl(0, 100%, 100%), 65px 473px hsl(0, 100%, 100%),
    1003px 1959px hsl(0, 100%, 100%), 658px 791px hsl(0, 100%, 100%),
    402px 1576px hsl(0, 100%, 100%), 35px 622px hsl(0, 100%, 100%),
    529px 1589px hsl(0, 100%, 100%), 164px 666px hsl(0, 100%, 100%),
    1876px 1290px hsl(0, 100%, 100%), 1541px 526px hsl(0, 100%, 100%),
    270px 1297px hsl(0, 100%, 100%), 440px 865px hsl(0, 100%, 100%),
    1500px 802px hsl(0, 100%, 100%), 182px 1754px hsl(0, 100%, 100%),
    1264px 892px hsl(0, 100%, 100%), 272px 1249px hsl(0, 100%, 100%),
    1289px 1535px hsl(0, 100%, 100%), 190px 1646px hsl(0, 100%, 100%),
    955px 242px hsl(0, 100%, 100%), 1456px 1597px hsl(0, 100%, 100%),
    1727px 1983px hsl(0, 100%, 100%), 635px 801px hsl(0, 100%, 100%),
    226px 455px hsl(0, 100%, 100%), 1396px 1710px hsl(0, 100%, 100%),
    849px 1863px hsl(0, 100%, 100%), 237px 1264px hsl(0, 100%, 100%),
    839px 140px hsl(0, 100%, 100%), 1122px 735px hsl(0, 100%, 100%),
    1280px 15px hsl(0, 100%, 100%), 1318px 242px hsl(0, 100%, 100%),
    1819px 1148px hsl(0, 100%, 100%), 333px 1392px hsl(0, 100%, 100%),
    1949px 553px hsl(0, 100%, 100%), 1878px 1332px hsl(0, 100%, 100%),
    467px 548px hsl(0, 100%, 100%), 1812px 1082px hsl(0, 100%, 100%),
    1067px 193px hsl(0, 100%, 100%), 243px 156px hsl(0, 100%, 100%),
    483px 1616px hsl(0, 100%, 100%), 1714px 933px hsl(0, 100%, 100%),
    759px 1800px hsl(0, 100%, 100%), 1822px 995px hsl(0, 100%, 100%),
    1877px 572px hsl(0, 100%, 100%), 581px 1084px hsl(0, 100%, 100%),
    107px 732px hsl(0, 100%, 100%), 642px 1837px hsl(0, 100%, 100%),
    166px 1493px hsl(0, 100%, 100%), 1555px 198px hsl(0, 100%, 100%),
    819px 307px hsl(0, 100%, 100%), 947px 345px hsl(0, 100%, 100%),
    827px 224px hsl(0, 100%, 100%), 927px 1394px hsl(0, 100%, 100%),
    540px 467px hsl(0, 100%, 100%), 1093px 405px hsl(0, 100%, 100%),
    1140px 927px hsl(0, 100%, 100%), 130px 529px hsl(0, 100%, 100%),
    33px 1980px hsl(0, 100%, 100%), 1147px 1663px hsl(0, 100%, 100%),
    1616px 1436px hsl(0, 100%, 100%), 528px 710px hsl(0, 100%, 100%),
    798px 1100px hsl(0, 100%, 100%), 505px 1480px hsl(0, 100%, 100%),
    899px 641px hsl(0, 100%, 100%), 1909px 1949px hsl(0, 100%, 100%),
    1311px 964px hsl(0, 100%, 100%), 979px 1301px hsl(0, 100%, 100%),
    1393px 969px hsl(0, 100%, 100%), 1793px 1886px hsl(0, 100%, 100%),
    292px 357px hsl(0, 100%, 100%), 1196px 1718px hsl(0, 100%, 100%),
    1290px 1994px hsl(0, 100%, 100%), 537px 1973px hsl(0, 100%, 100%),
    1181px 1674px hsl(0, 100%, 100%), 1740px 1566px hsl(0, 100%, 100%),
    1307px 265px hsl(0, 100%, 100%), 922px 522px hsl(0, 100%, 100%),
    1892px 472px hsl(0, 100%, 100%), 384px 1746px hsl(0, 100%, 100%),
    392px 1098px hsl(0, 100%, 100%), 647px 548px hsl(0, 100%, 100%),
    390px 1498px hsl(0, 100%, 100%), 1246px 138px hsl(0, 100%, 100%),
    730px 876px hsl(0, 100%, 100%), 192px 1472px hsl(0, 100%, 100%),
    1790px 1789px hsl(0, 100%, 100%), 928px 311px hsl(0, 100%, 100%),
    1253px 1647px hsl(0, 100%, 100%), 747px 1921px hsl(0, 100%, 100%),
    1561px 1025px hsl(0, 100%, 100%), 1533px 1292px hsl(0, 100%, 100%),
    1985px 195px hsl(0, 100%, 100%), 728px 729px hsl(0, 100%, 100%),
    1712px 1936px hsl(0, 100%, 100%), 512px 1717px hsl(0, 100%, 100%),
    1528px 483px hsl(0, 100%, 100%), 313px 1642px hsl(0, 100%, 100%),
    281px 1849px hsl(0, 100%, 100%), 1212px 799px hsl(0, 100%, 100%),
    435px 1191px hsl(0, 100%, 100%), 1422px 611px hsl(0, 100%, 100%),
    1718px 1964px hsl(0, 100%, 100%), 411px 944px hsl(0, 100%, 100%),
    210px 636px hsl(0, 100%, 100%), 1502px 1295px hsl(0, 100%, 100%),
    1434px 349px hsl(0, 100%, 100%), 769px 60px hsl(0, 100%, 100%),
    747px 1053px hsl(0, 100%, 100%), 789px 504px hsl(0, 100%, 100%),
    1436px 1264px hsl(0, 100%, 100%), 1893px 1225px hsl(0, 100%, 100%),
    1394px 1788px hsl(0, 100%, 100%), 1108px 1317px hsl(0, 100%, 100%),
    1673px 1395px hsl(0, 100%, 100%), 854px 1010px hsl(0, 100%, 100%),
    1705px 80px hsl(0, 100%, 100%), 1858px 148px hsl(0, 100%, 100%),
    1729px 344px hsl(0, 100%, 100%), 1388px 664px hsl(0, 100%, 100%),
    895px 406px hsl(0, 100%, 100%), 1479px 157px hsl(0, 100%, 100%),
    1441px 1157px hsl(0, 100%, 100%), 552px 1900px hsl(0, 100%, 100%),
    516px 364px hsl(0, 100%, 100%), 1647px 189px hsl(0, 100%, 100%),
    1427px 1071px hsl(0, 100%, 100%), 785px 729px hsl(0, 100%, 100%),
    1080px 1710px hsl(0, 100%, 100%), 504px 204px hsl(0, 100%, 100%),
    1177px 1622px hsl(0, 100%, 100%), 657px 34px hsl(0, 100%, 100%),
    1296px 1099px hsl(0, 100%, 100%), 248px 180px hsl(0, 100%, 100%),
    1212px 1568px hsl(0, 100%, 100%), 667px 1562px hsl(0, 100%, 100%),
    695px 841px hsl(0, 100%, 100%), 1608px 1247px hsl(0, 100%, 100%),
    751px 882px hsl(0, 100%, 100%), 87px 167px hsl(0, 100%, 100%),
    607px 1368px hsl(0, 100%, 100%), 1363px 1203px hsl(0, 100%, 100%),
    1836px 317px hsl(0, 100%, 100%), 1668px 1703px hsl(0, 100%, 100%),
    830px 1154px hsl(0, 100%, 100%), 1721px 1398px hsl(0, 100%, 100%),
    1601px 1280px hsl(0, 100%, 100%), 976px 874px hsl(0, 100%, 100%),
    1743px 254px hsl(0, 100%, 100%), 1020px 1815px hsl(0, 100%, 100%),
    1670px 1766px hsl(0, 100%, 100%), 1890px 735px hsl(0, 100%, 100%),
    1379px 136px hsl(0, 100%, 100%), 1864px 695px hsl(0, 100%, 100%),
    206px 965px hsl(0, 100%, 100%), 1404px 1932px hsl(0, 100%, 100%),
    1923px 1360px hsl(0, 100%, 100%), 247px 682px hsl(0, 100%, 100%),
    519px 1708px hsl(0, 100%, 100%), 645px 750px hsl(0, 100%, 100%),
    1164px 1204px hsl(0, 100%, 100%), 834px 323px hsl(0, 100%, 100%),
    172px 1350px hsl(0, 100%, 100%), 213px 972px hsl(0, 100%, 100%),
    1837px 190px hsl(0, 100%, 100%), 285px 1806px hsl(0, 100%, 100%),
    1047px 1299px hsl(0, 100%, 100%), 1548px 825px hsl(0, 100%, 100%),
    1730px 324px hsl(0, 100%, 100%), 1346px 1909px hsl(0, 100%, 100%),
    772px 270px hsl(0, 100%, 100%), 345px 1190px hsl(0, 100%, 100%),
    478px 1433px hsl(0, 100%, 100%), 1479px 25px hsl(0, 100%, 100%),
    1994px 1830px hsl(0, 100%, 100%), 1744px 732px hsl(0, 100%, 100%),
    20px 1635px hsl(0, 100%, 100%), 690px 1795px hsl(0, 100%, 100%),
    1594px 569px hsl(0, 100%, 100%), 579px 245px hsl(0, 100%, 100%),
    1398px 733px hsl(0, 100%, 100%), 408px 1352px hsl(0, 100%, 100%),
    1774px 120px hsl(0, 100%, 100%), 1152px 1370px hsl(0, 100%, 100%),
    1698px 1810px hsl(0, 100%, 100%), 710px 1450px hsl(0, 100%, 100%),
    665px 286px hsl(0, 100%, 100%), 493px 1720px hsl(0, 100%, 100%),
    786px 5px hsl(0, 100%, 100%), 637px 1140px hsl(0, 100%, 100%),
    764px 324px hsl(0, 100%, 100%), 927px 310px hsl(0, 100%, 100%),
    938px 1424px hsl(0, 100%, 100%), 1884px 744px hsl(0, 100%, 100%),
    913px 462px hsl(0, 100%, 100%), 1831px 1936px hsl(0, 100%, 100%),
    1527px 249px hsl(0, 100%, 100%), 36px 1381px hsl(0, 100%, 100%),
    1597px 581px hsl(0, 100%, 100%), 1530px 355px hsl(0, 100%, 100%),
    949px 459px hsl(0, 100%, 100%), 799px 828px hsl(0, 100%, 100%),
    242px 1471px hsl(0, 100%, 100%), 654px 797px hsl(0, 100%, 100%),
    796px 594px hsl(0, 100%, 100%), 1365px 678px hsl(0, 100%, 100%),
    752px 23px hsl(0, 100%, 100%), 1630px 541px hsl(0, 100%, 100%),
    982px 72px hsl(0, 100%, 100%), 1733px 1831px hsl(0, 100%, 100%),
    21px 412px hsl(0, 100%, 100%), 775px 998px hsl(0, 100%, 100%),
    335px 1945px hsl(0, 100%, 100%), 264px 583px hsl(0, 100%, 100%),
    158px 1311px hsl(0, 100%, 100%), 528px 164px hsl(0, 100%, 100%),
    1978px 574px hsl(0, 100%, 100%), 717px 1203px hsl(0, 100%, 100%),
    734px 1591px hsl(0, 100%, 100%), 1555px 820px hsl(0, 100%, 100%),
    16px 1943px hsl(0, 100%, 100%), 1625px 1177px hsl(0, 100%, 100%),
    1236px 690px hsl(0, 100%, 100%), 1585px 1590px hsl(0, 100%, 100%),
    1737px 1728px hsl(0, 100%, 100%), 721px 698px hsl(0, 100%, 100%),
    1804px 1186px hsl(0, 100%, 100%), 166px 980px hsl(0, 100%, 100%),
    1850px 230px hsl(0, 100%, 100%), 330px 1712px hsl(0, 100%, 100%),
    95px 797px hsl(0, 100%, 100%), 1948px 1078px hsl(0, 100%, 100%),
    469px 939px hsl(0, 100%, 100%), 1269px 1899px hsl(0, 100%, 100%),
    955px 1220px hsl(0, 100%, 100%), 1137px 1075px hsl(0, 100%, 100%),
    312px 1293px hsl(0, 100%, 100%), 986px 1762px hsl(0, 100%, 100%),
    1103px 1238px hsl(0, 100%, 100%), 428px 1993px hsl(0, 100%, 100%),
    355px 570px hsl(0, 100%, 100%), 977px 1836px hsl(0, 100%, 100%),
    1395px 1092px hsl(0, 100%, 100%), 276px 913px hsl(0, 100%, 100%),
    1743px 656px hsl(0, 100%, 100%), 773px 502px hsl(0, 100%, 100%),
    1686px 1322px hsl(0, 100%, 100%), 1516px 1945px hsl(0, 100%, 100%),
    1334px 501px hsl(0, 100%, 100%), 266px 156px hsl(0, 100%, 100%),
    455px 655px hsl(0, 100%, 100%), 798px 72px hsl(0, 100%, 100%),
    1059px 1259px hsl(0, 100%, 100%), 1402px 1687px hsl(0, 100%, 100%),
    236px 1329px hsl(0, 100%, 100%), 1455px 786px hsl(0, 100%, 100%),
    146px 1228px hsl(0, 100%, 100%), 1851px 823px hsl(0, 100%, 100%),
    1062px 100px hsl(0, 100%, 100%), 1220px 953px hsl(0, 100%, 100%),
    20px 1826px hsl(0, 100%, 100%), 36px 1063px hsl(0, 100%, 100%),
    1525px 338px hsl(0, 100%, 100%), 790px 1521px hsl(0, 100%, 100%),
    741px 1099px hsl(0, 100%, 100%), 288px 1489px hsl(0, 100%, 100%),
    700px 1060px hsl(0, 100%, 100%), 390px 1071px hsl(0, 100%, 100%),
    411px 1036px hsl(0, 100%, 100%), 1853px 1072px hsl(0, 100%, 100%),
    1446px 1085px hsl(0, 100%, 100%), 1164px 874px hsl(0, 100%, 100%),
    924px 925px hsl(0, 100%, 100%), 291px 271px hsl(0, 100%, 100%),
    1257px 1964px hsl(0, 100%, 100%), 1580px 1352px hsl(0, 100%, 100%),
    1507px 1216px hsl(0, 100%, 100%), 211px 956px hsl(0, 100%, 100%),
    985px 1195px hsl(0, 100%, 100%), 975px 1640px hsl(0, 100%, 100%),
    518px 101px hsl(0, 100%, 100%), 663px 1395px hsl(0, 100%, 100%),
    914px 532px hsl(0, 100%, 100%), 145px 1320px hsl(0, 100%, 100%),
    69px 1397px hsl(0, 100%, 100%), 982px 523px hsl(0, 100%, 100%),
    257px 725px hsl(0, 100%, 100%), 1599px 831px hsl(0, 100%, 100%),
    1636px 1513px hsl(0, 100%, 100%), 1250px 1158px hsl(0, 100%, 100%),
    1132px 604px hsl(0, 100%, 100%), 183px 102px hsl(0, 100%, 100%),
    1057px 318px hsl(0, 100%, 100%), 1247px 1835px hsl(0, 100%, 100%),
    1983px 1110px hsl(0, 100%, 100%), 1077px 1455px hsl(0, 100%, 100%),
    921px 1770px hsl(0, 100%, 100%), 806px 1350px hsl(0, 100%, 100%),
    1938px 1992px hsl(0, 100%, 100%), 855px 1260px hsl(0, 100%, 100%),
    902px 1345px hsl(0, 100%, 100%), 658px 1908px hsl(0, 100%, 100%),
    1845px 679px hsl(0, 100%, 100%), 712px 1482px hsl(0, 100%, 100%),
    595px 950px hsl(0, 100%, 100%), 1784px 1992px hsl(0, 100%, 100%),
    1847px 1785px hsl(0, 100%, 100%), 691px 1004px hsl(0, 100%, 100%),
    175px 1179px hsl(0, 100%, 100%), 1666px 1911px hsl(0, 100%, 100%),
    41px 61px hsl(0, 100%, 100%), 971px 1080px hsl(0, 100%, 100%),
    1830px 1450px hsl(0, 100%, 100%), 1351px 1518px hsl(0, 100%, 100%),
    1257px 99px hsl(0, 100%, 100%), 1395px 1498px hsl(0, 100%, 100%),
    1117px 252px hsl(0, 100%, 100%), 1779px 597px hsl(0, 100%, 100%),
    1346px 729px hsl(0, 100%, 100%), 1108px 1144px hsl(0, 100%, 100%),
    402px 691px hsl(0, 100%, 100%), 72px 496px hsl(0, 100%, 100%),
    1673px 1604px hsl(0, 100%, 100%), 1497px 974px hsl(0, 100%, 100%),
    1865px 1664px hsl(0, 100%, 100%), 88px 806px hsl(0, 100%, 100%),
    918px 77px hsl(0, 100%, 100%), 244px 1118px hsl(0, 100%, 100%),
    256px 1820px hsl(0, 100%, 100%), 1851px 1840px hsl(0, 100%, 100%),
    605px 1851px hsl(0, 100%, 100%), 634px 383px hsl(0, 100%, 100%),
    865px 37px hsl(0, 100%, 100%), 943px 1024px hsl(0, 100%, 100%),
    1951px 177px hsl(0, 100%, 100%), 1097px 523px hsl(0, 100%, 100%),
    985px 1700px hsl(0, 100%, 100%), 1243px 122px hsl(0, 100%, 100%),
    768px 1070px hsl(0, 100%, 100%), 468px 194px hsl(0, 100%, 100%),
    320px 1867px hsl(0, 100%, 100%), 1850px 185px hsl(0, 100%, 100%),
    380px 1616px hsl(0, 100%, 100%), 468px 1294px hsl(0, 100%, 100%),
    1122px 1743px hsl(0, 100%, 100%), 884px 299px hsl(0, 100%, 100%),
    1300px 1917px hsl(0, 100%, 100%), 1860px 396px hsl(0, 100%, 100%),
    1270px 990px hsl(0, 100%, 100%), 529px 733px hsl(0, 100%, 100%),
    1975px 1347px hsl(0, 100%, 100%), 1885px 685px hsl(0, 100%, 100%),
    226px 506px hsl(0, 100%, 100%), 651px 878px hsl(0, 100%, 100%),
    1323px 680px hsl(0, 100%, 100%), 1284px 680px hsl(0, 100%, 100%),
    238px 1967px hsl(0, 100%, 100%), 911px 174px hsl(0, 100%, 100%),
    1111px 521px hsl(0, 100%, 100%), 1150px 85px hsl(0, 100%, 100%),
    794px 502px hsl(0, 100%, 100%), 484px 1856px hsl(0, 100%, 100%),
    1809px 368px hsl(0, 100%, 100%), 112px 953px hsl(0, 100%, 100%),
    590px 1009px hsl(0, 100%, 100%), 1655px 311px hsl(0, 100%, 100%),
    100px 1026px hsl(0, 100%, 100%), 1803px 352px hsl(0, 100%, 100%),
    865px 306px hsl(0, 100%, 100%), 1077px 1019px hsl(0, 100%, 100%),
    1335px 872px hsl(0, 100%, 100%), 1647px 1298px hsl(0, 100%, 100%),
    1233px 1387px hsl(0, 100%, 100%), 698px 1036px hsl(0, 100%, 100%),
    659px 1860px hsl(0, 100%, 100%), 388px 1412px hsl(0, 100%, 100%),
    1212px 458px hsl(0, 100%, 100%), 755px 1468px hsl(0, 100%, 100%),
    696px 1654px hsl(0, 100%, 100%), 1144px 60px hsl(0, 100%, 100%);
}

.backgorund::after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px hsl(0, 100%, 100%), 324px 42px hsl(0, 100%, 100%),
    303px 586px hsl(0, 100%, 100%), 1312px 276px hsl(0, 100%, 100%),
    451px 625px hsl(0, 100%, 100%), 521px 1931px hsl(0, 100%, 100%),
    1087px 1871px hsl(0, 100%, 100%), 36px 1546px hsl(0, 100%, 100%),
    132px 934px hsl(0, 100%, 100%), 1698px 901px hsl(0, 100%, 100%),
    1418px 664px hsl(0, 100%, 100%), 1448px 1157px hsl(0, 100%, 100%),
    1084px 232px hsl(0, 100%, 100%), 347px 1776px hsl(0, 100%, 100%),
    1722px 243px hsl(0, 100%, 100%), 1629px 835px hsl(0, 100%, 100%),
    479px 969px hsl(0, 100%, 100%), 1231px 960px hsl(0, 100%, 100%),
    586px 384px hsl(0, 100%, 100%), 164px 527px hsl(0, 100%, 100%),
    8px 646px hsl(0, 100%, 100%), 1150px 1126px hsl(0, 100%, 100%),
    665px 1357px hsl(0, 100%, 100%), 1556px 1982px hsl(0, 100%, 100%),
    1260px 1961px hsl(0, 100%, 100%), 1675px 1741px hsl(0, 100%, 100%),
    1843px 1514px hsl(0, 100%, 100%), 718px 1628px hsl(0, 100%, 100%),
    242px 1343px hsl(0, 100%, 100%), 1497px 1880px hsl(0, 100%, 100%),
    1364px 230px hsl(0, 100%, 100%), 1739px 1302px hsl(0, 100%, 100%),
    636px 959px hsl(0, 100%, 100%), 304px 686px hsl(0, 100%, 100%),
    614px 751px hsl(0, 100%, 100%), 1935px 816px hsl(0, 100%, 100%),
    1428px 60px hsl(0, 100%, 100%), 355px 335px hsl(0, 100%, 100%),
    1594px 158px hsl(0, 100%, 100%), 90px 60px hsl(0, 100%, 100%),
    1553px 162px hsl(0, 100%, 100%), 1239px 1825px hsl(0, 100%, 100%),
    1945px 587px hsl(0, 100%, 100%), 749px 1785px hsl(0, 100%, 100%),
    1987px 1172px hsl(0, 100%, 100%), 1301px 1237px hsl(0, 100%, 100%),
    1039px 342px hsl(0, 100%, 100%), 1585px 1481px hsl(0, 100%, 100%),
    995px 1048px hsl(0, 100%, 100%), 524px 932px hsl(0, 100%, 100%),
    214px 413px hsl(0, 100%, 100%), 1701px 1300px hsl(0, 100%, 100%),
    1037px 1613px hsl(0, 100%, 100%), 1871px 996px hsl(0, 100%, 100%),
    1360px 1635px hsl(0, 100%, 100%), 1110px 1313px hsl(0, 100%, 100%),
    412px 1783px hsl(0, 100%, 100%), 1949px 177px hsl(0, 100%, 100%),
    903px 1854px hsl(0, 100%, 100%), 700px 1936px hsl(0, 100%, 100%),
    378px 125px hsl(0, 100%, 100%), 308px 834px hsl(0, 100%, 100%),
    1118px 962px hsl(0, 100%, 100%), 1350px 1929px hsl(0, 100%, 100%),
    781px 1811px hsl(0, 100%, 100%), 561px 137px hsl(0, 100%, 100%),
    757px 1148px hsl(0, 100%, 100%), 1670px 1979px hsl(0, 100%, 100%),
    343px 739px hsl(0, 100%, 100%), 945px 795px hsl(0, 100%, 100%),
    576px 1903px hsl(0, 100%, 100%), 1078px 1436px hsl(0, 100%, 100%),
    1583px 450px hsl(0, 100%, 100%), 1366px 474px hsl(0, 100%, 100%),
    297px 1873px hsl(0, 100%, 100%), 192px 162px hsl(0, 100%, 100%),
    1624px 1633px hsl(0, 100%, 100%), 59px 453px hsl(0, 100%, 100%),
    82px 1872px hsl(0, 100%, 100%), 1933px 498px hsl(0, 100%, 100%),
    1966px 1974px hsl(0, 100%, 100%), 1975px 1688px hsl(0, 100%, 100%),
    779px 314px hsl(0, 100%, 100%), 1858px 1543px hsl(0, 100%, 100%),
    73px 1507px hsl(0, 100%, 100%), 1693px 975px hsl(0, 100%, 100%),
    1683px 108px hsl(0, 100%, 100%), 1768px 1654px hsl(0, 100%, 100%),
    654px 14px hsl(0, 100%, 100%), 494px 171px hsl(0, 100%, 100%),
    1689px 1895px hsl(0, 100%, 100%), 1660px 263px hsl(0, 100%, 100%),
    1031px 903px hsl(0, 100%, 100%), 1203px 1393px hsl(0, 100%, 100%),
    1333px 1421px hsl(0, 100%, 100%), 1113px 41px hsl(0, 100%, 100%),
    1206px 1645px hsl(0, 100%, 100%), 1325px 1635px hsl(0, 100%, 100%),
    142px 388px hsl(0, 100%, 100%), 572px 215px hsl(0, 100%, 100%),
    1535px 296px hsl(0, 100%, 100%), 1419px 407px hsl(0, 100%, 100%),
    1379px 1003px hsl(0, 100%, 100%), 329px 469px hsl(0, 100%, 100%),
    1791px 1652px hsl(0, 100%, 100%), 935px 1802px hsl(0, 100%, 100%),
    1330px 1820px hsl(0, 100%, 100%), 421px 1933px hsl(0, 100%, 100%),
    828px 365px hsl(0, 100%, 100%), 275px 316px hsl(0, 100%, 100%),
    707px 960px hsl(0, 100%, 100%), 1605px 1554px hsl(0, 100%, 100%),
    625px 58px hsl(0, 100%, 100%), 717px 1697px hsl(0, 100%, 100%),
    1669px 246px hsl(0, 100%, 100%), 1925px 322px hsl(0, 100%, 100%),
    1154px 1803px hsl(0, 100%, 100%), 1929px 295px hsl(0, 100%, 100%),
    1248px 240px hsl(0, 100%, 100%), 1045px 1755px hsl(0, 100%, 100%),
    166px 942px hsl(0, 100%, 100%), 1888px 1773px hsl(0, 100%, 100%),
    678px 1963px hsl(0, 100%, 100%), 1370px 569px hsl(0, 100%, 100%),
    1974px 1400px hsl(0, 100%, 100%), 1786px 460px hsl(0, 100%, 100%),
    51px 307px hsl(0, 100%, 100%), 784px 1400px hsl(0, 100%, 100%),
    730px 1258px hsl(0, 100%, 100%), 1712px 393px hsl(0, 100%, 100%),
    416px 170px hsl(0, 100%, 100%), 1797px 1932px hsl(0, 100%, 100%),
    572px 219px hsl(0, 100%, 100%), 1557px 1856px hsl(0, 100%, 100%),
    218px 8px hsl(0, 100%, 100%), 348px 1334px hsl(0, 100%, 100%),
    469px 413px hsl(0, 100%, 100%), 385px 1738px hsl(0, 100%, 100%),
    1357px 1818px hsl(0, 100%, 100%), 240px 942px hsl(0, 100%, 100%),
    248px 1847px hsl(0, 100%, 100%), 1535px 806px hsl(0, 100%, 100%),
    236px 1514px hsl(0, 100%, 100%), 1429px 1556px hsl(0, 100%, 100%),
    73px 1633px hsl(0, 100%, 100%), 1398px 1121px hsl(0, 100%, 100%),
    671px 1301px hsl(0, 100%, 100%), 1404px 1663px hsl(0, 100%, 100%),
    740px 1018px hsl(0, 100%, 100%), 1600px 377px hsl(0, 100%, 100%),
    785px 514px hsl(0, 100%, 100%), 112px 1084px hsl(0, 100%, 100%),
    1915px 1887px hsl(0, 100%, 100%), 1463px 1848px hsl(0, 100%, 100%),
    687px 1115px hsl(0, 100%, 100%), 1268px 1768px hsl(0, 100%, 100%),
    1729px 1425px hsl(0, 100%, 100%), 1284px 1022px hsl(0, 100%, 100%),
    801px 974px hsl(0, 100%, 100%), 1975px 1317px hsl(0, 100%, 100%),
    1354px 834px hsl(0, 100%, 100%), 1446px 1484px hsl(0, 100%, 100%),
    1283px 1786px hsl(0, 100%, 100%), 11px 523px hsl(0, 100%, 100%),
    1842px 236px hsl(0, 100%, 100%), 1355px 654px hsl(0, 100%, 100%),
    429px 7px hsl(0, 100%, 100%), 1033px 1128px hsl(0, 100%, 100%),
    157px 297px hsl(0, 100%, 100%), 545px 635px hsl(0, 100%, 100%),
    52px 1080px hsl(0, 100%, 100%), 827px 1520px hsl(0, 100%, 100%),
    1121px 490px hsl(0, 100%, 100%), 9px 309px hsl(0, 100%, 100%),
    1744px 1586px hsl(0, 100%, 100%), 1014px 417px hsl(0, 100%, 100%),
    1534px 524px hsl(0, 100%, 100%), 958px 552px hsl(0, 100%, 100%),
    1403px 1496px hsl(0, 100%, 100%), 387px 703px hsl(0, 100%, 100%),
    1522px 548px hsl(0, 100%, 100%), 1355px 282px hsl(0, 100%, 100%),
    1532px 601px hsl(0, 100%, 100%), 1838px 790px hsl(0, 100%, 100%),
    290px 259px hsl(0, 100%, 100%), 295px 598px hsl(0, 100%, 100%),
    1601px 539px hsl(0, 100%, 100%), 1561px 1272px hsl(0, 100%, 100%),
    34px 1922px hsl(0, 100%, 100%), 1024px 543px hsl(0, 100%, 100%),
    467px 369px hsl(0, 100%, 100%), 722px 333px hsl(0, 100%, 100%),
    1976px 1255px hsl(0, 100%, 100%), 766px 983px hsl(0, 100%, 100%),
    1582px 1285px hsl(0, 100%, 100%), 12px 512px hsl(0, 100%, 100%),
    617px 1410px hsl(0, 100%, 100%), 682px 577px hsl(0, 100%, 100%),
    1334px 1438px hsl(0, 100%, 100%), 439px 327px hsl(0, 100%, 100%),
    1617px 1661px hsl(0, 100%, 100%), 673px 129px hsl(0, 100%, 100%),
    794px 941px hsl(0, 100%, 100%), 1386px 1902px hsl(0, 100%, 100%),
    37px 1353px hsl(0, 100%, 100%), 1467px 1353px hsl(0, 100%, 100%),
    416px 18px hsl(0, 100%, 100%), 187px 344px hsl(0, 100%, 100%),
    200px 1898px hsl(0, 100%, 100%), 1491px 1619px hsl(0, 100%, 100%),
    811px 347px hsl(0, 100%, 100%), 924px 1827px hsl(0, 100%, 100%),
    945px 217px hsl(0, 100%, 100%), 1735px 1228px hsl(0, 100%, 100%),
    379px 1890px hsl(0, 100%, 100%), 79px 761px hsl(0, 100%, 100%),
    825px 1837px hsl(0, 100%, 100%), 1980px 1558px hsl(0, 100%, 100%),
    1308px 1573px hsl(0, 100%, 100%), 1488px 1726px hsl(0, 100%, 100%),
    382px 1208px hsl(0, 100%, 100%), 522px 595px hsl(0, 100%, 100%),
    1277px 1898px hsl(0, 100%, 100%), 354px 552px hsl(0, 100%, 100%),
    161px 1784px hsl(0, 100%, 100%), 614px 251px hsl(0, 100%, 100%),
    526px 1576px hsl(0, 100%, 100%), 17px 212px hsl(0, 100%, 100%),
    179px 996px hsl(0, 100%, 100%), 467px 1208px hsl(0, 100%, 100%),
    1944px 1838px hsl(0, 100%, 100%), 1140px 1093px hsl(0, 100%, 100%),
    858px 1007px hsl(0, 100%, 100%), 200px 1064px hsl(0, 100%, 100%),
    423px 1964px hsl(0, 100%, 100%), 1945px 439px hsl(0, 100%, 100%),
    1377px 689px hsl(0, 100%, 100%), 1120px 1437px hsl(0, 100%, 100%),
    1876px 668px hsl(0, 100%, 100%), 907px 1324px hsl(0, 100%, 100%),
    343px 1976px hsl(0, 100%, 100%), 1816px 1501px hsl(0, 100%, 100%),
    1849px 177px hsl(0, 100%, 100%), 647px 91px hsl(0, 100%, 100%),
    1984px 1012px hsl(0, 100%, 100%), 1336px 1300px hsl(0, 100%, 100%),
    128px 648px hsl(0, 100%, 100%), 305px 1060px hsl(0, 100%, 100%),
    1324px 826px hsl(0, 100%, 100%), 1263px 1314px hsl(0, 100%, 100%),
    1801px 629px hsl(0, 100%, 100%), 1614px 1555px hsl(0, 100%, 100%),
    1634px 90px hsl(0, 100%, 100%), 1603px 452px hsl(0, 100%, 100%),
    891px 1984px hsl(0, 100%, 100%), 1556px 1906px hsl(0, 100%, 100%),
    121px 68px hsl(0, 100%, 100%), 1676px 1714px hsl(0, 100%, 100%),
    516px 936px hsl(0, 100%, 100%), 1947px 1492px hsl(0, 100%, 100%),
    1455px 1519px hsl(0, 100%, 100%), 45px 602px hsl(0, 100%, 100%),
    205px 1039px hsl(0, 100%, 100%), 793px 172px hsl(0, 100%, 100%),
    1562px 1739px hsl(0, 100%, 100%), 1056px 110px hsl(0, 100%, 100%),
    1512px 379px hsl(0, 100%, 100%), 1795px 1621px hsl(0, 100%, 100%),
    1848px 607px hsl(0, 100%, 100%), 262px 1719px hsl(0, 100%, 100%),
    477px 991px hsl(0, 100%, 100%), 483px 883px hsl(0, 100%, 100%),
    1239px 1197px hsl(0, 100%, 100%), 1496px 647px hsl(0, 100%, 100%),
    1649px 25px hsl(0, 100%, 100%), 1491px 1946px hsl(0, 100%, 100%),
    119px 996px hsl(0, 100%, 100%), 179px 1472px hsl(0, 100%, 100%),
    1341px 808px hsl(0, 100%, 100%), 1565px 1700px hsl(0, 100%, 100%),
    407px 1544px hsl(0, 100%, 100%), 1754px 357px hsl(0, 100%, 100%),
    1288px 981px hsl(0, 100%, 100%), 902px 1997px hsl(0, 100%, 100%),
    1755px 1668px hsl(0, 100%, 100%), 186px 877px hsl(0, 100%, 100%),
    1202px 1882px hsl(0, 100%, 100%), 461px 1213px hsl(0, 100%, 100%),
    1400px 748px hsl(0, 100%, 100%), 1969px 1899px hsl(0, 100%, 100%),
    809px 522px hsl(0, 100%, 100%), 514px 1219px hsl(0, 100%, 100%),
    374px 275px hsl(0, 100%, 100%), 938px 1973px hsl(0, 100%, 100%),
    357px 552px hsl(0, 100%, 100%), 144px 1722px hsl(0, 100%, 100%),
    1572px 912px hsl(0, 100%, 100%), 402px 1858px hsl(0, 100%, 100%),
    1544px 1195px hsl(0, 100%, 100%), 667px 1257px hsl(0, 100%, 100%),
    727px 1496px hsl(0, 100%, 100%), 993px 232px hsl(0, 100%, 100%),
    1772px 313px hsl(0, 100%, 100%), 1040px 1590px hsl(0, 100%, 100%),
    1204px 1973px hsl(0, 100%, 100%), 1268px 79px hsl(0, 100%, 100%),
    1555px 1048px hsl(0, 100%, 100%), 986px 1707px hsl(0, 100%, 100%),
    978px 1710px hsl(0, 100%, 100%), 713px 360px hsl(0, 100%, 100%),
    407px 863px hsl(0, 100%, 100%), 461px 736px hsl(0, 100%, 100%),
    284px 1608px hsl(0, 100%, 100%), 103px 430px hsl(0, 100%, 100%),
    1283px 1319px hsl(0, 100%, 100%), 977px 1186px hsl(0, 100%, 100%),
    1966px 1516px hsl(0, 100%, 100%), 1287px 1129px hsl(0, 100%, 100%),
    70px 1098px hsl(0, 100%, 100%), 1189px 889px hsl(0, 100%, 100%),
    1126px 1734px hsl(0, 100%, 100%), 309px 1292px hsl(0, 100%, 100%),
    879px 764px hsl(0, 100%, 100%), 65px 473px hsl(0, 100%, 100%),
    1003px 1959px hsl(0, 100%, 100%), 658px 791px hsl(0, 100%, 100%),
    402px 1576px hsl(0, 100%, 100%), 35px 622px hsl(0, 100%, 100%),
    529px 1589px hsl(0, 100%, 100%), 164px 666px hsl(0, 100%, 100%),
    1876px 1290px hsl(0, 100%, 100%), 1541px 526px hsl(0, 100%, 100%),
    270px 1297px hsl(0, 100%, 100%), 440px 865px hsl(0, 100%, 100%),
    1500px 802px hsl(0, 100%, 100%), 182px 1754px hsl(0, 100%, 100%),
    1264px 892px hsl(0, 100%, 100%), 272px 1249px hsl(0, 100%, 100%),
    1289px 1535px hsl(0, 100%, 100%), 190px 1646px hsl(0, 100%, 100%),
    955px 242px hsl(0, 100%, 100%), 1456px 1597px hsl(0, 100%, 100%),
    1727px 1983px hsl(0, 100%, 100%), 635px 801px hsl(0, 100%, 100%),
    226px 455px hsl(0, 100%, 100%), 1396px 1710px hsl(0, 100%, 100%),
    849px 1863px hsl(0, 100%, 100%), 237px 1264px hsl(0, 100%, 100%),
    839px 140px hsl(0, 100%, 100%), 1122px 735px hsl(0, 100%, 100%),
    1280px 15px hsl(0, 100%, 100%), 1318px 242px hsl(0, 100%, 100%),
    1819px 1148px hsl(0, 100%, 100%), 333px 1392px hsl(0, 100%, 100%),
    1949px 553px hsl(0, 100%, 100%), 1878px 1332px hsl(0, 100%, 100%),
    467px 548px hsl(0, 100%, 100%), 1812px 1082px hsl(0, 100%, 100%),
    1067px 193px hsl(0, 100%, 100%), 243px 156px hsl(0, 100%, 100%),
    483px 1616px hsl(0, 100%, 100%), 1714px 933px hsl(0, 100%, 100%),
    759px 1800px hsl(0, 100%, 100%), 1822px 995px hsl(0, 100%, 100%),
    1877px 572px hsl(0, 100%, 100%), 581px 1084px hsl(0, 100%, 100%),
    107px 732px hsl(0, 100%, 100%), 642px 1837px hsl(0, 100%, 100%),
    166px 1493px hsl(0, 100%, 100%), 1555px 198px hsl(0, 100%, 100%),
    819px 307px hsl(0, 100%, 100%), 947px 345px hsl(0, 100%, 100%),
    827px 224px hsl(0, 100%, 100%), 927px 1394px hsl(0, 100%, 100%),
    540px 467px hsl(0, 100%, 100%), 1093px 405px hsl(0, 100%, 100%),
    1140px 927px hsl(0, 100%, 100%), 130px 529px hsl(0, 100%, 100%),
    33px 1980px hsl(0, 100%, 100%), 1147px 1663px hsl(0, 100%, 100%),
    1616px 1436px hsl(0, 100%, 100%), 528px 710px hsl(0, 100%, 100%),
    798px 1100px hsl(0, 100%, 100%), 505px 1480px hsl(0, 100%, 100%),
    899px 641px hsl(0, 100%, 100%), 1909px 1949px hsl(0, 100%, 100%),
    1311px 964px hsl(0, 100%, 100%), 979px 1301px hsl(0, 100%, 100%),
    1393px 969px hsl(0, 100%, 100%), 1793px 1886px hsl(0, 100%, 100%),
    292px 357px hsl(0, 100%, 100%), 1196px 1718px hsl(0, 100%, 100%),
    1290px 1994px hsl(0, 100%, 100%), 537px 1973px hsl(0, 100%, 100%),
    1181px 1674px hsl(0, 100%, 100%), 1740px 1566px hsl(0, 100%, 100%),
    1307px 265px hsl(0, 100%, 100%), 922px 522px hsl(0, 100%, 100%),
    1892px 472px hsl(0, 100%, 100%), 384px 1746px hsl(0, 100%, 100%),
    392px 1098px hsl(0, 100%, 100%), 647px 548px hsl(0, 100%, 100%),
    390px 1498px hsl(0, 100%, 100%), 1246px 138px hsl(0, 100%, 100%),
    730px 876px hsl(0, 100%, 100%), 192px 1472px hsl(0, 100%, 100%),
    1790px 1789px hsl(0, 100%, 100%), 928px 311px hsl(0, 100%, 100%),
    1253px 1647px hsl(0, 100%, 100%), 747px 1921px hsl(0, 100%, 100%),
    1561px 1025px hsl(0, 100%, 100%), 1533px 1292px hsl(0, 100%, 100%),
    1985px 195px hsl(0, 100%, 100%), 728px 729px hsl(0, 100%, 100%),
    1712px 1936px hsl(0, 100%, 100%), 512px 1717px hsl(0, 100%, 100%),
    1528px 483px hsl(0, 100%, 100%), 313px 1642px hsl(0, 100%, 100%),
    281px 1849px hsl(0, 100%, 100%), 1212px 799px hsl(0, 100%, 100%),
    435px 1191px hsl(0, 100%, 100%), 1422px 611px hsl(0, 100%, 100%),
    1718px 1964px hsl(0, 100%, 100%), 411px 944px hsl(0, 100%, 100%),
    210px 636px hsl(0, 100%, 100%), 1502px 1295px hsl(0, 100%, 100%),
    1434px 349px hsl(0, 100%, 100%), 769px 60px hsl(0, 100%, 100%),
    747px 1053px hsl(0, 100%, 100%), 789px 504px hsl(0, 100%, 100%),
    1436px 1264px hsl(0, 100%, 100%), 1893px 1225px hsl(0, 100%, 100%),
    1394px 1788px hsl(0, 100%, 100%), 1108px 1317px hsl(0, 100%, 100%),
    1673px 1395px hsl(0, 100%, 100%), 854px 1010px hsl(0, 100%, 100%),
    1705px 80px hsl(0, 100%, 100%), 1858px 148px hsl(0, 100%, 100%),
    1729px 344px hsl(0, 100%, 100%), 1388px 664px hsl(0, 100%, 100%),
    895px 406px hsl(0, 100%, 100%), 1479px 157px hsl(0, 100%, 100%),
    1441px 1157px hsl(0, 100%, 100%), 552px 1900px hsl(0, 100%, 100%),
    516px 364px hsl(0, 100%, 100%), 1647px 189px hsl(0, 100%, 100%),
    1427px 1071px hsl(0, 100%, 100%), 785px 729px hsl(0, 100%, 100%),
    1080px 1710px hsl(0, 100%, 100%), 504px 204px hsl(0, 100%, 100%),
    1177px 1622px hsl(0, 100%, 100%), 657px 34px hsl(0, 100%, 100%),
    1296px 1099px hsl(0, 100%, 100%), 248px 180px hsl(0, 100%, 100%),
    1212px 1568px hsl(0, 100%, 100%), 667px 1562px hsl(0, 100%, 100%),
    695px 841px hsl(0, 100%, 100%), 1608px 1247px hsl(0, 100%, 100%),
    751px 882px hsl(0, 100%, 100%), 87px 167px hsl(0, 100%, 100%),
    607px 1368px hsl(0, 100%, 100%), 1363px 1203px hsl(0, 100%, 100%),
    1836px 317px hsl(0, 100%, 100%), 1668px 1703px hsl(0, 100%, 100%),
    830px 1154px hsl(0, 100%, 100%), 1721px 1398px hsl(0, 100%, 100%),
    1601px 1280px hsl(0, 100%, 100%), 976px 874px hsl(0, 100%, 100%),
    1743px 254px hsl(0, 100%, 100%), 1020px 1815px hsl(0, 100%, 100%),
    1670px 1766px hsl(0, 100%, 100%), 1890px 735px hsl(0, 100%, 100%),
    1379px 136px hsl(0, 100%, 100%), 1864px 695px hsl(0, 100%, 100%),
    206px 965px hsl(0, 100%, 100%), 1404px 1932px hsl(0, 100%, 100%),
    1923px 1360px hsl(0, 100%, 100%), 247px 682px hsl(0, 100%, 100%),
    519px 1708px hsl(0, 100%, 100%), 645px 750px hsl(0, 100%, 100%),
    1164px 1204px hsl(0, 100%, 100%), 834px 323px hsl(0, 100%, 100%),
    172px 1350px hsl(0, 100%, 100%), 213px 972px hsl(0, 100%, 100%),
    1837px 190px hsl(0, 100%, 100%), 285px 1806px hsl(0, 100%, 100%),
    1047px 1299px hsl(0, 100%, 100%), 1548px 825px hsl(0, 100%, 100%),
    1730px 324px hsl(0, 100%, 100%), 1346px 1909px hsl(0, 100%, 100%),
    772px 270px hsl(0, 100%, 100%), 345px 1190px hsl(0, 100%, 100%),
    478px 1433px hsl(0, 100%, 100%), 1479px 25px hsl(0, 100%, 100%),
    1994px 1830px hsl(0, 100%, 100%), 1744px 732px hsl(0, 100%, 100%),
    20px 1635px hsl(0, 100%, 100%), 690px 1795px hsl(0, 100%, 100%),
    1594px 569px hsl(0, 100%, 100%), 579px 245px hsl(0, 100%, 100%),
    1398px 733px hsl(0, 100%, 100%), 408px 1352px hsl(0, 100%, 100%),
    1774px 120px hsl(0, 100%, 100%), 1152px 1370px hsl(0, 100%, 100%),
    1698px 1810px hsl(0, 100%, 100%), 710px 1450px hsl(0, 100%, 100%),
    665px 286px hsl(0, 100%, 100%), 493px 1720px hsl(0, 100%, 100%),
    786px 5px hsl(0, 100%, 100%), 637px 1140px hsl(0, 100%, 100%),
    764px 324px hsl(0, 100%, 100%), 927px 310px hsl(0, 100%, 100%),
    938px 1424px hsl(0, 100%, 100%), 1884px 744px hsl(0, 100%, 100%),
    913px 462px hsl(0, 100%, 100%), 1831px 1936px hsl(0, 100%, 100%),
    1527px 249px hsl(0, 100%, 100%), 36px 1381px hsl(0, 100%, 100%),
    1597px 581px hsl(0, 100%, 100%), 1530px 355px hsl(0, 100%, 100%),
    949px 459px hsl(0, 100%, 100%), 799px 828px hsl(0, 100%, 100%),
    242px 1471px hsl(0, 100%, 100%), 654px 797px hsl(0, 100%, 100%),
    796px 594px hsl(0, 100%, 100%), 1365px 678px hsl(0, 100%, 100%),
    752px 23px hsl(0, 100%, 100%), 1630px 541px hsl(0, 100%, 100%),
    982px 72px hsl(0, 100%, 100%), 1733px 1831px hsl(0, 100%, 100%),
    21px 412px hsl(0, 100%, 100%), 775px 998px hsl(0, 100%, 100%),
    335px 1945px hsl(0, 100%, 100%), 264px 583px hsl(0, 100%, 100%),
    158px 1311px hsl(0, 100%, 100%), 528px 164px hsl(0, 100%, 100%),
    1978px 574px hsl(0, 100%, 100%), 717px 1203px hsl(0, 100%, 100%),
    734px 1591px hsl(0, 100%, 100%), 1555px 820px hsl(0, 100%, 100%),
    16px 1943px hsl(0, 100%, 100%), 1625px 1177px hsl(0, 100%, 100%),
    1236px 690px hsl(0, 100%, 100%), 1585px 1590px hsl(0, 100%, 100%),
    1737px 1728px hsl(0, 100%, 100%), 721px 698px hsl(0, 100%, 100%),
    1804px 1186px hsl(0, 100%, 100%), 166px 980px hsl(0, 100%, 100%),
    1850px 230px hsl(0, 100%, 100%), 330px 1712px hsl(0, 100%, 100%),
    95px 797px hsl(0, 100%, 100%), 1948px 1078px hsl(0, 100%, 100%),
    469px 939px hsl(0, 100%, 100%), 1269px 1899px hsl(0, 100%, 100%),
    955px 1220px hsl(0, 100%, 100%), 1137px 1075px hsl(0, 100%, 100%),
    312px 1293px hsl(0, 100%, 100%), 986px 1762px hsl(0, 100%, 100%),
    1103px 1238px hsl(0, 100%, 100%), 428px 1993px hsl(0, 100%, 100%),
    355px 570px hsl(0, 100%, 100%), 977px 1836px hsl(0, 100%, 100%),
    1395px 1092px hsl(0, 100%, 100%), 276px 913px hsl(0, 100%, 100%),
    1743px 656px hsl(0, 100%, 100%), 773px 502px hsl(0, 100%, 100%),
    1686px 1322px hsl(0, 100%, 100%), 1516px 1945px hsl(0, 100%, 100%),
    1334px 501px hsl(0, 100%, 100%), 266px 156px hsl(0, 100%, 100%),
    455px 655px hsl(0, 100%, 100%), 798px 72px hsl(0, 100%, 100%),
    1059px 1259px hsl(0, 100%, 100%), 1402px 1687px hsl(0, 100%, 100%),
    236px 1329px hsl(0, 100%, 100%), 1455px 786px hsl(0, 100%, 100%),
    146px 1228px hsl(0, 100%, 100%), 1851px 823px hsl(0, 100%, 100%),
    1062px 100px hsl(0, 100%, 100%), 1220px 953px hsl(0, 100%, 100%),
    20px 1826px hsl(0, 100%, 100%), 36px 1063px hsl(0, 100%, 100%),
    1525px 338px hsl(0, 100%, 100%), 790px 1521px hsl(0, 100%, 100%),
    741px 1099px hsl(0, 100%, 100%), 288px 1489px hsl(0, 100%, 100%),
    700px 1060px hsl(0, 100%, 100%), 390px 1071px hsl(0, 100%, 100%),
    411px 1036px hsl(0, 100%, 100%), 1853px 1072px hsl(0, 100%, 100%),
    1446px 1085px hsl(0, 100%, 100%), 1164px 874px hsl(0, 100%, 100%),
    924px 925px hsl(0, 100%, 100%), 291px 271px hsl(0, 100%, 100%),
    1257px 1964px hsl(0, 100%, 100%), 1580px 1352px hsl(0, 100%, 100%),
    1507px 1216px hsl(0, 100%, 100%), 211px 956px hsl(0, 100%, 100%),
    985px 1195px hsl(0, 100%, 100%), 975px 1640px hsl(0, 100%, 100%),
    518px 101px hsl(0, 100%, 100%), 663px 1395px hsl(0, 100%, 100%),
    914px 532px hsl(0, 100%, 100%), 145px 1320px hsl(0, 100%, 100%),
    69px 1397px hsl(0, 100%, 100%), 982px 523px hsl(0, 100%, 100%),
    257px 725px hsl(0, 100%, 100%), 1599px 831px hsl(0, 100%, 100%),
    1636px 1513px hsl(0, 100%, 100%), 1250px 1158px hsl(0, 100%, 100%),
    1132px 604px hsl(0, 100%, 100%), 183px 102px hsl(0, 100%, 100%),
    1057px 318px hsl(0, 100%, 100%), 1247px 1835px hsl(0, 100%, 100%),
    1983px 1110px hsl(0, 100%, 100%), 1077px 1455px hsl(0, 100%, 100%),
    921px 1770px hsl(0, 100%, 100%), 806px 1350px hsl(0, 100%, 100%),
    1938px 1992px hsl(0, 100%, 100%), 855px 1260px hsl(0, 100%, 100%),
    902px 1345px hsl(0, 100%, 100%), 658px 1908px hsl(0, 100%, 100%),
    1845px 679px hsl(0, 100%, 100%), 712px 1482px hsl(0, 100%, 100%),
    595px 950px hsl(0, 100%, 100%), 1784px 1992px hsl(0, 100%, 100%),
    1847px 1785px hsl(0, 100%, 100%), 691px 1004px hsl(0, 100%, 100%),
    175px 1179px hsl(0, 100%, 100%), 1666px 1911px hsl(0, 100%, 100%),
    41px 61px hsl(0, 100%, 100%), 971px 1080px hsl(0, 100%, 100%),
    1830px 1450px hsl(0, 100%, 100%), 1351px 1518px hsl(0, 100%, 100%),
    1257px 99px hsl(0, 100%, 100%), 1395px 1498px hsl(0, 100%, 100%),
    1117px 252px hsl(0, 100%, 100%), 1779px 597px hsl(0, 100%, 100%),
    1346px 729px hsl(0, 100%, 100%), 1108px 1144px hsl(0, 100%, 100%),
    402px 691px hsl(0, 100%, 100%), 72px 496px hsl(0, 100%, 100%),
    1673px 1604px hsl(0, 100%, 100%), 1497px 974px hsl(0, 100%, 100%),
    1865px 1664px hsl(0, 100%, 100%), 88px 806px hsl(0, 100%, 100%),
    918px 77px hsl(0, 100%, 100%), 244px 1118px hsl(0, 100%, 100%),
    256px 1820px hsl(0, 100%, 100%), 1851px 1840px hsl(0, 100%, 100%),
    605px 1851px hsl(0, 100%, 100%), 634px 383px hsl(0, 100%, 100%),
    865px 37px hsl(0, 100%, 100%), 943px 1024px hsl(0, 100%, 100%),
    1951px 177px hsl(0, 100%, 100%), 1097px 523px hsl(0, 100%, 100%),
    985px 1700px hsl(0, 100%, 100%), 1243px 122px hsl(0, 100%, 100%),
    768px 1070px hsl(0, 100%, 100%), 468px 194px hsl(0, 100%, 100%),
    320px 1867px hsl(0, 100%, 100%), 1850px 185px hsl(0, 100%, 100%),
    380px 1616px hsl(0, 100%, 100%), 468px 1294px hsl(0, 100%, 100%),
    1122px 1743px hsl(0, 100%, 100%), 884px 299px hsl(0, 100%, 100%),
    1300px 1917px hsl(0, 100%, 100%), 1860px 396px hsl(0, 100%, 100%),
    1270px 990px hsl(0, 100%, 100%), 529px 733px hsl(0, 100%, 100%),
    1975px 1347px hsl(0, 100%, 100%), 1885px 685px hsl(0, 100%, 100%),
    226px 506px hsl(0, 100%, 100%), 651px 878px hsl(0, 100%, 100%),
    1323px 680px hsl(0, 100%, 100%), 1284px 680px hsl(0, 100%, 100%),
    238px 1967px hsl(0, 100%, 100%), 911px 174px hsl(0, 100%, 100%),
    1111px 521px hsl(0, 100%, 100%), 1150px 85px hsl(0, 100%, 100%),
    794px 502px hsl(0, 100%, 100%), 484px 1856px hsl(0, 100%, 100%),
    1809px 368px hsl(0, 100%, 100%), 112px 953px hsl(0, 100%, 100%),
    590px 1009px hsl(0, 100%, 100%), 1655px 311px hsl(0, 100%, 100%),
    100px 1026px hsl(0, 100%, 100%), 1803px 352px hsl(0, 100%, 100%),
    865px 306px hsl(0, 100%, 100%), 1077px 1019px hsl(0, 100%, 100%),
    1335px 872px hsl(0, 100%, 100%), 1647px 1298px hsl(0, 100%, 100%),
    1233px 1387px hsl(0, 100%, 100%), 698px 1036px hsl(0, 100%, 100%),
    659px 1860px hsl(0, 100%, 100%), 388px 1412px hsl(0, 100%, 100%),
    1212px 458px hsl(0, 100%, 100%), 755px 1468px hsl(0, 100%, 100%),
    696px 1654px hsl(0, 100%, 100%), 1144px 60px hsl(0, 100%, 100%);
}
